@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

table{
	border-collapse: collapse;
}

table td{
	padding: .5em;
}

table td:first-child{
	border-right: 1px solid;
}

table td[colspan]{
	border: none;
	text-align: center;
}

ul{
	list-style: none;
}

#familiar-phrases > p{
	font-style: italic;
	text-align: center;
	text-indent: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
